* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border-top: 10px solid blue;
}

h1, h3 {
    color:black;
    margin-bottom: 30px;
    margin-top: 30px;
}

h1 {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

p{
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.container{
    margin-left: auto;
    margin-right: auto;
}

.main-header{
    background-color: aqua;
    padding: 20px 50px;
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav{
    display: flex;
    gap: 50px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.nav-item {
    padding-right: 10px;
    display: inline;
}

.autoria{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    align-items: center;
}

article{
    margin-left: 50px;
}

.main-imagem {
    margin-bottom: 20px;
    width: 50%; 
    height: auto;
}

li{
    font-size: 24px;
}

footer p{
    font-size: 16px;
}

.body-header{
}

.item-da-lista {
    margin-bottom: 20px;
    padding-left: 30px;
}

ol:first-child {
    margin-top: 20px;
}

.imagem-principal{
    position: relative;
    display: inline;
}

button{
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 5px;
}

aside{
    background-color: aqua;
    border-top: blue solid 10px;
    border-bottom: blue solid 10px;
    margin-right: 50px;
    padding: 50px 20px;
}

aside::ul {
    list-style: none;
}

.item-aside{
    display: flex;
    gap: 15px;
    align-items: center;
}

a:link{
    color: black;
}

a:visited{
    color: brown;
}

nav a:hover{
    color: aliceblue;
    background-color: red;
    text-decoration: dashed;
    font-weight: bolder;
    display: inline;
    padding: 10px;
}

.item-menu{
    display: block;
}

a:active{
    color: aliceblue;
    background-color: yellow;
    text-decoration: dashed;
    font-weight: bolder;
}

.item-de-lista{
    display: inline;
}

/*CSS GRID*/

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 50px;
    column-gap: 60px;
    align-items: start;
}

.main-header{
    grid-column: 1 / -1;
}

footer{
    background-color: bisque;
    grid-column: 1 / -1;
    grid-row: 3;
}