* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h1, h2, h3 {
    color:white;
    margin-bottom: 30px;
    margin-top: 30px;
}

h1 {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 10px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

p{
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.container{
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.main-header{
    background-color: blue;
    border: 5px solid black;
    padding: 50px 10px;
    height: 100px;
}

.nav-item {
    padding-right: 10px;
}

.main-imagem {
    margin-bottom: 20px;
    width: 50%; 
    height: auto;
}

li{
    font-size: 24px;
}

footer p{
    font-size: 16px;
}

.body-header{
    background-color: purple;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid black;
    margin-top: 20px;
}

.item-da-lista {
    margin-bottom: 20px;
    padding-left: 30px;
}

ol:first-child {
    margin-top: 20px;
}

aside{
    background-color: yellow;
    border: 5px solid blue;
    margin-top: 20px;
    width: 500px;
}

a:link{
    color: black;
}

a:visited{
    color: aqua;
}

nav a:hover{
    color: aliceblue;
    background-color: red;
    text-decoration: dashed;
    font-weight: bolder;
}

a:active{
    color: aliceblue;
    background-color: yellow;
    text-decoration: dashed;
    font-weight: bolder;
}